ul li{
    color:red;
}
.personalizzazione{
    width: 100%;
    background-color: green;
    color: white;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.personalizzazione:hover{
    color:aqua
}


#centrale{
    text-size: 10px;

    
}